@page "/budget"
@*@page "/budget/{id:int}"*@
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<h3>Budget</h3>
<div class="container">
    @*<div>@Id - test</div>*@
@if (BudgetModel == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
        <BudgetComponent @ref="BudgetComponent" BudgetModel="@BudgetModel" TransactionCategories="@TransactionCategories" ></BudgetComponent>
}
</div>