@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorizing>
        <p class="authorizing"></p>
    </Authorizing>
    <Authorized>
        <div class="row col-12">
            <div class="col-6">Logged as: @context.User.Claims.FirstOrDefault(e => e.Type == ClaimTypes.Email || e.Type == ClaimTypes.Name)?.Value</div>
            <div class="col-6" style="text-align:right">
                <a href="logout">Log out</a>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
